/***************/
/**** RESET ****/
/***************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/******************/
/**** GENERAL *****/
/******************/

.border {
    border: 1px dashed #000000;
}


/*****************/
/**** HEADER *****/
/*****************/

.header-settings {
    background-color: #add8e6;
    padding-top: 10px;
    padding-bottom: 5px;
}

.header-nav {
    display: flex;
    background-color: #daa520;
    justify-content: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.header-nav > div {
    padding: 5px;
}

.header-logo {
    flex-grow: 1;
}

.header-link {
    flex-grow: 3;
    justify-content: center;

}

.header-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 5px;
}

.header-login {
    text-align: end;
    flex-grow: 1;
}

.one-box-section {
    background-color: #00008b;
    padding: 50px 0;

}

.upper-box {
    display: flex;
    margin: 0 auto;
    background-color: #ffc0cb;
    width: 900px;
}

/*****************/
/****** MAIN *****/
/*****************/

.two-boxes-section {
    display: flex;
    justify-content: center; 
    padding: 50px 0; 
    background-color: #ffffff;  
}

.box1 {
    background-color: #1e90ff;
    flex-basis: 35%;
    height: 500px;
}

.box2 {
    background-color: #ffc0cb;
    flex-basis: 20%;
    height: 500px;
}

.two-boxes-section2 {
    display: flex;
    justify-content: center; 
    padding: 50px 0;
    background-color: #d3d3d3;
    flex-direction: row-reverse;
} 

.last-main-section {
    background-color: #d3d3d3;
    padding: 50px 20% 50px 20%;
}

.last-box {
    background-color: #228b22;
    height: 900px;
}


.debugger {
    height: 300px;
}