/***************/
/**** RESET ****/
/***************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*****************/
/**** HEADER *****/
/*****************/

.header-settings {
    background-color: #add8e6;
    padding: 10px;
}

.header-container {
    display: flex;
    background-color: #daa520;
    justify-content: center;
    width: 1200px;
    margin: auto;
}

.header-container > div {
    border: 1px dashed #000000;
    padding: 5px;
}

.header-logo {
    flex-grow: 1;
}

.header-link {
    flex-grow: 3;
    justify-content: center;

}

.header-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 5px;
}

.header-login {
    text-align: end;
    flex-grow: 1;
}

/*****************/
/****** MAIN *****/
/*****************/

.first-block {

}